.reviews {
    padding-bottom: 23px;
    &-item {
        display: flex;
        align-items: start;
        padding: 53px 0 48px 0;
        &__img {
            width: 169px;
            height: 169px;
            img {
                max-width: 100%;
                display: block;
            }
        }
        &__content {
            width: 770px;
            padding-left: 62px;
        }
        &__name {
            font-size: 18px;
            font-weight: 700;
            text-align: left;
            color: #0d0d0d;
            margin-bottom: 10px;
        }
        &__subtitle {
            font-size: 14px;
            font-weight: 300;
            text-align: left;
            color: #646464;
            margin-bottom: 19px;
        }
        &__descr {
            font-size: 16px;
            font-weight: 300;
            text-align: left;
            color: #0d0d0d;
        }
    }
    &__devider {
        height: 1px;
        background-color: #f6f6f6;
    }
}